@charset "UTF-8";
.color {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    display: inline-block;
    margin: 0 5px;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
}

.color.active::after {
    content: "✓";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
    text-align: center;
}

.color.color-white {
    background-color: white;
    border: 1px solid black;
}

.color.color-black {
    background-color: black;
    color: white;
}

.color.color-lightgreen {
    background-color: #9BFFCD;
}

.color.color-green {
    background-color: #00CC99;
}

.color.color-darkgreen {
    background-color: #01936F;
}

.btn {
    position: absolute;
    text-align: center;
    vertical-align: middle;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn:after {
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.btn.down::after {
    content: "▼";
}

.btn.up::after {
    content: "▲";
}

.btn-toolbar {
    position: fixed;
    left: 50%;
    bottom: 100px;
    transform: translateX(-50%);
}

.hideNavBar {
    top: -60px;
}

.hideNavBar .btn::after {
    content: "▼";
    line-height: 55px;
}

.hideToolBar {
    height: 0;
}

.hideToolBar li {
    display: none;
}

.hideToolBar .btn::after {
    content: "▲";
}