/* huanyu.css */

* {
    font-size: 12px;
    font-family: Times New Roman;
}

#container {
    margin: 0 auto;
    padding: 0 auto;
}

#header {
    width: 990px;
    height: 65px;
    margin: 0 auto;
}

#logo {
    width: 263px;
    height: 65px;
    float: left;
    background: url ("images/logo.png") no-repeat left bottom;
}

#select {
    width: 727px;
    height: 65px;
    float: left;
    text-align: right;
}

#select #sel {
    margin-top: 15px;
}

#picture {
    width: 990px;
    height: 345px;
    clear: both;
}

#nav {
    width: 990px;
    height: 40px;
    background: #0099cC;
    border: 0px;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
    color: #FFFFFE;
}

#nav a:hover {
    color: #333333;
    text-decoration: none;
    background: #F6F6F6;
}

#nav a {
    width: 194px;
    height: 40px;
}

td {
    line-height: 40px;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
}

#main {
    width: 990px;
    height: 250px;
}

#left {
    width: 660px;
    height: 250px;
    float: left;
    line-height: 1.5em;
}

h1 {
    color: #0099FF;
    font-size: 18px;
    height: 36px;
    border-bottom: 2px solid #0099FF;
}

#left img {
    float: left;
    width: 220px;
    height: 144px;
}

#left-down {
    margin: 0px auto;
    padding: 0px;
    clear: both;
    width: 100%;
    height: 70px;
}

#left-down img {
    vertical-align: text-bottom;
    width: 60px;
    height: 50px;
    vertical-align: bottom;
}

#p1 {
    padding-top: 20px;
    height: 30px;
}

#right {
    width: 290px;
    height: 250px;
    float: right;
    border: lpx solid #00ff00;
}

ul {
    width: 200px;
    height: 100%;
    padding: 0px;
    margin: 0 auto;
}

li {
    padding: 0px;
    margin: 0px;
    line-height: 2em;
    list-style-type: none;
    text-align: left;
}

#footer {
    clear: both;
    width: 990px;
    height: 30px;
    background: #F7F7F7;
    border-top: 2px solid #0099ff;
}

#footer p {
    padding: 10px auto;
    text-align: center;
    color: #333333;
}